@inject TenantContext tenant
@{
    ViewData["Title"] = "Geblokkeerd";
}

<div class="modalform">
    <hgroup>
        <img src="~/images/@(tenant.Id)_logo.png" />
        <h1>@tenant.Name</h1>
        <h2>@tenant.Items[Profile.Tenant.Constants.SLOGAN]</h2>
    </hgroup>

    <p>Dit account is tijdelijk geblokkeerd, probeer het later nog eens. Mocht u problemen blijven ondervinden, neem dan contact op.</p>
</div>