@model ResetPasswordViewmodel
@inject TenantContext tenant
@{
    ViewData["Title"] = "Wachtwoord wijzigen";
}

<div class="modalform">
    <hgroup>
        <img src="~/images/@(tenant.Id)_logo.png" />
        <h1>@tenant.Name</h1>
        <h2>@tenant.Items[Profile.Tenant.Constants.SLOGAN]</h2>
    </hgroup>

    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <input asp-for="Code" type="hidden" />

        <div class="inputbox withicon">
            <i class="fas fa-at"></i>
            <input asp-for="Email" placeholder="Emailadres" />
            <label>Emailadres</label>
        </div>

        <div class="inputbox withicon">
            <i class="fas fa-lock"></i>
            <input asp-for="Password" placeholder="Wachtwoord" />
            <label>Wachtwoord</label>
        </div>

        <div class="inputbox withicon">
            <i class="fas fa-lock"></i>
            <input asp-for="ConfirmPassword" placeholder="Herhaal wachtwoord" />
            <label>Herhaal wachtwoord</label>
        </div>

        <input type="submit" value="Reset wachtwoord" />
    </form>
</div>